
body {
	background-color: #f5eaea;
	font-family: Tahoma;
}

h1 {
	color: #b51313;
}

h2, h3, h4, h5 {
	color: #102aaf;

}

.happy{
	color: #d00e0e;
	font-weight: bold;
}

#insig{
	color: grey;
	font-size: 8px;
}

/* IDs for header footer sidebar and content */

#container {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #8585ad;
	width: 740px;
	margin-top: 20px;
	padding: 40px 40px 40px 20px;
/*	border: 4px solid #8585ad; */
}

#sidebar {
	background-color: #c2c2d6;
	float: left;
	padding: 20px 20px;
	width: 200px;
	height: 500px;
}

#content {
	background-color: #f0f0f5;
	float: left;
	padding: 20px 40px;	
	width: 480px;
	height: 500px;
}

#footer {
	background-color: #0a0a0f;
	clear: both;
	padding: 10px 20px;
	width: 760px;
}