<!-- have @user -->
<h3>Hi, <%= @user.name %>!</h3>

<h2>Task List</h2>

<!-- Create separate ul for each category -->

<ul id="task">
	<% @user.tasks.each do |task| %>
	<li class="complete"><img class="complete_image" id='<%= "#{task.id}" %>' src='../red_x.png'/></li>
	<li class="content"><%= task.content %></li>
	<li class="category"><%= task.category %></li>
	<br>
	<% end %>
</ul>