<h2>Sign In</h2>

<% if @error %>
<p id="error_message"><%= @error %></p>
<% end %>

<form id="signin" action='/sessions' method='post'>
	<input type="text" name="name" placeholder="enter your username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Sign me in!">
</form>